@{
    ViewBag.Title = "Cadastrar Usuario";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />

<div class="jumbotron">

    <img src="~/Content/img/customerRelationshipManagement.png" width="100" height="100" />
    <br><br><br>
    <h2>Cadastro de cliente</h2>
    <br/><br/>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="Nome"                accept=""/></p>
    <P><input type="text" class="form-control minhaClasse" name="pic" placeholder="Sobrenome"           accept=""/></p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="CPF"                 accept=""/></p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="Email"               accept=""/></p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="Genero"              accept=""/></p>
    <P><input type="text" class="form-control minhaClasse" name="pic" placeholder="Data de Nascimento"  accept=""/></p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="Endereço"/>                     </p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="UF"                  accept=""/></p>
    <p><input type="text" class="form-control minhaClasse" name="pic" placeholder="Nacionalidade"       accept=""/></p>
    <p>
        <input onclick="RedirecionarIndex();" value="CADASTRAR" class="btn btn-success" type="button"/>
    </p>
 </div>

<script src="~/Content/js/site.js"></script>