@{
    ViewBag.Title = "";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />

<font> @ViewBag.Title</font>

<div class="jumbotron">

    <img src="~/Content/img/customerRelationshipManagement.png" width="100" height="100" />
    <h2><b>LOGIN<b></h2>
    <p>USUARIO:     <input type="text" class="form-control minhaClasse" name="pic" accept="" />  </p>
    <p>SENHA:       <input type="text" class="form-control minhaClasse" name="pic" accept="" />  </p>


    <input onclick="RedirecionarIndex();" value="ENTRAR" class="btn btn-primary" type="button"/>
    <input onclick="RedirecionarCadastro();" value="CADASTRAR" class="btn btn-primary" type="button"/>

</div>

<script src="~/Content/js/site.js"></script>