@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />

<div class="jumbotron">

    <img src="~/Content/img/customerRelationshipManagement.png" width="100" height="100" />
    <h1>BEM VINDO!</h1>
    


</div>

<script src="~/Content/js/site.js"></script>