@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />

<div class="jumbotron">

    <img src="~/Content/img/CustomerRM.png" width="100" reight="100" />
    <h1>BEM VINDO!</h1>
    <br /><br />
    <table style="width:100%">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Genero</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>UF</th>
            <th>Nacionalidade</th>
        </tr>
        <tr>
            <td>Will</td>
            <td>Smith</td>
            <td>Will@smith.com</td>
            <td>Masculino</td>
            <td>12/01/1997</td>
            <td>Canada</td>
            <td>CN</td>
            <td>Inglês</td>
        </tr>
        <tr>
            <td>Iann</td>
            <td>Leles</td>
            <td>iann.marcos97@gmail.com</td>
            <td>Masculino</td>
            <td>12/01/1997</td>
            <td>Morato</td>
            <td>SP</td>
            <td>Brasileiro</td>
        </tr>
    </table>



</div>

<script src="~/Content/js/site.js"></script>