@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />

<div class="jumbotron">

    <img src="~/Content/img/customerRelationshipManagement.png" width="100" height="100" />
    <h1>LOGIN</h1>
    <p>USUARIO:     <input type="text" class="form-control minhaClasse" name="pic" accept=""/>  </p>
    <p>SENHA:       <input type="text" class="form-control minhaClasse" name="pic" accept=""/>  </p>
    

        <input onclick="RedirecionarAbout();" value="ENTRAR" class="btn btn-primary" type="button" />
        <input onclick="RedirecionarIndex();" value="ENTRAR" class="btn btn-primary" type="button" />

</div>

<script src="~/Content/js/site.js"></script>