@{
    ViewBag.Title = "";
}

<link href="~/Content/css/meuSite.css" rel="stylesheet" />



<div class="jumbotron" align="center">

    <img src="~/Content/img/CustomerRM.png" width="100" reight="100" />
    <h2><b>LOGIN<b></h2>
    <p><input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email" accept="" />  </p>
    <p><input type="password" class="form-control" name="password" id="password" placeholder="Digite sua senha" accept="" /> </p>

    <p>
        <input onclick="redirecionarIndex();" value="ENTRAR" class="btn btn-primary" type="button" />
        <h6><a href="/Home/Cadastro" fontsize="Arial" color="green"> Não tem senha? Cadastre aqui! </a></h6>
    </p>   
</div>

<script src="~/Content/js/site.js"></script>